@font-face {
  font-family: "ravenicons";
  src: url('ravenicons.eot'); /* IE9*/
  src: url('ravenicons.eot?#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('ravenicons.woff2') format('woff2'),
  url('ravenicons.woff') format('woff'),
  url('ravenicons.ttf') format('truetype'),
  url('ravenicons.svg') format('svg');
}

[class^="ravenicons-"], [class*=" ravenicons-"] {
  font-family: 'ravenicons' !important;font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.ravenicons-A::before { content: "\41"; }
.ravenicons-E::before { content: "\45"; }
.ravenicons-N::before { content: "\4e"; }
.ravenicons-R::before { content: "\52"; }
.ravenicons-V::before { content: "\56"; }


$ravenicons-A: '\41';
$ravenicons-E: '\45';
$ravenicons-N: '\4e';
$ravenicons-R: '\52';
$ravenicons-V: '\56';
